---
# K3s version to install
k3s_version: "v1.29.1+k3s1"

# API
k3s_api_port: 6443

# Files created by k3s
k3s_token_file: "/var/lib/rancher/k3s/server/node-token"
kubeconfig_remote_path: "/etc/rancher/k3s/k3s.yaml"

# Disable built-in traefik?
k3s_disable_traefik: false

# Endpoint used by JOINING nodes (must resolve + match cert SAN)
k3s_server_endpoint: "awx01"

# Extra flags (optional)
k3s_server_extra_args: []
k3s_agent_extra_args: []