---
# K3s version to install
k3s_version: "v1.29.1+k3s1"

# API
k3s_api_port: 6443

# Files created by k3s
k3s_token_file: "/var/lib/rancher/k3s/server/node-token"
kubeconfig_remote_path: "/etc/rancher/k3s/k3s.yaml"

# Disable built-in traefik?
k3s_disable_traefik: false

# Endpoint used by JOINING nodes (dynamically picks first server in inventory)
k3s_server_endpoint: "{{ groups['k3s_servers'][0] }}"

# Extra flags (Crucial for HA and TLS stability)
k3s_server_extra_args:
  - "--tls-san {{ groups['k3s_servers'][0] }}"
  - "--write-kubeconfig-mode 644"

k3s_agent_extra_args: []