---
- name: OS prep + k3s install on nodes
  hosts: k3s_all
  become: true
  gather_facts: true
  roles:
    - os_prep
    - k3s_install

- name: Fetch kubeconfig to workstation
  hosts: k3s_servers[0]
  become: false
  gather_facts: false
  roles:
    - k3s_kubeconfig

- name: Install MetalLB (run once from admin server)
  hosts: k3s_servers[0]
  become: true
  gather_facts: false
  roles:
    - metallb_install