---
- name: OS prep + k3s install on nodes
  hosts: k3s_all
  become: true
  gather_facts: true
  roles:
    - os_prep
    - k3s_install

# - name: Fetch kubeconfig to workstation
#   hosts: k3s_servers[0]
#   become: false
#   gather_facts: false
#   roles:
#     - k3s_kubeconfig

- name: Install MetalLB (run once from admin server)
  hosts: k3s_servers[0]
  become: true
  gather_facts: false
  roles:
    - role: metallb_install
      vars:
        metallb_ip_range:
          - 192.168.1.101-192.168.1.101
          - 192.168.1.102-192.168.1.102
          - 192.168.1.103-192.168.1.103
          - 192.168.1.104-192.168.1.104
          - 192.168.1.105-192.168.1.105

- name: Install Longhorn (run kubectl/helm from first server)
  hosts: k3s_servers[0]
  become: true
  gather_facts: false
  roles:
    - longhorn_install

- name: Install Crunchy Postgres Operator (PGO), apply, and awx_operator
  hosts: k3s_servers[0]
  become: true
  gather_facts: false
  roles:
    - postgres_operator_install

    - role: awxdb_ha_postgrescluster_apply
      vars:
        pg_instances: 3
        pg_pgdata_size: "50Gi"
        pg_backrest_repo_size: "100Gi"
        pg_storage_class: "longhorn-ha-any"

    - awx_operator_install

    - role: awx_cr_apply
      vars:
        # Override replicas here
        awx_replicas: 3
        # awx_web_replicas: 4
        # awx_task_replicas: 4
        
        # Override storage size here
        awx_projects_persistence: false
#        awx_projects_storage_size: "10Gi"
        awx_projects_storage_class: "longhorn-ha-any"
    - awx_get_creds