apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: svc-pool-static
  namespace: metallb-system
spec:
  addresses:
    - 192.168.1.101-192.168.1.101
    - 192.168.1.102-192.168.1.102
    - 192.168.1.103-192.168.1.103
    - 192.168.1.104-192.168.1.104
    - 192.168.1.105-192.168.1.105
  autoAssign: true